Package: build-deb
Version: 1.5
Architecture: all
Maintainer: Rafael Senties Martinelli <rafael@senties-martinelli.com>
Depends: dpkg
Installed-Size: DEB_BUILDER_SIZE
Section: Development
Priority: Optional
Homepage:
Description: Debian package builder for binaries or interpreted languages (Python, Bash, Pearl, etc..).
 This program allows you to create Debian packages for binaries or interpreted languages (Python, Bash, Pearl.. etc..). You must keep in mind that this is only to create "basic" Debianpackages, Debian Maintainers use more complicated tools like "dpkg-buildpackage" (You are able to use all the features of a Debian package like pre-installation scripts, etc..).
 .
 Nevertheless, this package will allow you to automatically sign your packages, and doing more complicated stuff with the magic of only one command.
 .
 More information at https://github.com/rsm-gh/build-deb
